{{define "404"}}
    <html>
    <head>
        {{template "head" .}}
    </head>
    <body style="background-color: #e9ecef">
    {{template "nav" .}}
    <div class="jumbotron">
        <h1 class="display-4">404 Not Found</h1>
        <p class="lead">You entered the wrong address or might getting lost in a book...</p>
    </div>
    </body>
    </html>
{{end}}