{{define "index"}}
<html>
    <head>
        {{template "head" .}}
    </head>
    <body>
        {{template "nav" .}}
        {{if not .books}}
            {{template "index_onboard" .}}
        {{else}}
            {{template "index_body" .}}
        {{end}}
    </body>
</html>
{{end}}